* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .col-s-0 {
    width: 0%;
    display: none;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .col-ss-0 {
    width: 0%;
    display: none;
  }
  .col-ss-1 {
    width: 8.33%;
  }
  .col-ss-2 {
    width: 16.66%;
  }
  .col-ss-3 {
    width: 25%;
  }
  .col-ss-4 {
    width: 33.33%;
  }
  .col-ss-5 {
    width: 41.66%;
  }
  .col-ss-6 {
    width: 50%;
  }
  .col-ss-7 {
    width: 58.33%;
  }
  .col-ss-8 {
    width: 66.66%;
  }
  .col-ss-9 {
    width: 75%;
  }
  .col-ss-10 {
    width: 83.33%;
  }
  .col-ss-11 {
    width: 91.66%;
  }
  .col-ss-12 {
    width: 100%;
  }
}

.logo-img {
  object-fit: cover;
  background-image: url("./images/logo.png");
  min-height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-img:hover {
  cursor: pointer;
}

#logo-writing {
  color: azure;
}
#links {
  text-align: center;
  border-radius: 7px;
  font-weight: bold;
}
#links a {
  text-decoration: none;
  color: azure;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 7px;
  background-color: #393e46;
}
#links a:hover {
  background-color: aliceblue;
  color: black;
}
#clock {
  text-align: center;
  color: azure;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #393e46;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 9px 16px;
  margin-top: 9px;
  border-radius: 7px;
  z-index: 2;
}
.dropdown-content a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.dropdown-content a:hover {
  display: block;
}
#services {
  padding-bottom: 100px;
}
#address {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
}
#weather-data {
  color: azure;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 7px;
  background-color: #bbd2f3;
  /* margin-left: 25px; */
  text-align: center;
}

#contact {
  background-color: #393e46;
  border-radius: 7px;
  height: 100%;
}
.standard-input {
  width: 100%;
  height: 33px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(225, 235, 250);
  border-radius: 5px;
  border: #2c2a2a 2px solid;
  padding: 20px 15px;
}
.standard-input:hover {
  background-color: transparent;
  color: #ffffff;
}
#select-menu {
  width: 100%;
  height: 33px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(225, 235, 250);
  border-radius: 5px;
  border: #2c2a2a 2px solid;
  color: black;
}
#contact-message {
  height: 200px;
}
.submit {
  padding: 15px 0;
  background-color: #cacaad;
  text-align: center;
  border-radius: 8px;
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
}
.submit:hover {
  background-color: #4b4b4a;
  color: #ffffff;
  border: #8f8f8f 2px solid;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0);
}
.padding {
  padding: 17px;
  color: #ffffff;
  font-size: 16px;
}
#about-us {
  color: #ffffff;
}
#about-us h2,
li {
  font-size: 30px;
}
#about-us-img {
  min-height: 500px;
  width: 100%;
  background-image: url(./images/Cloudy.jpg);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: #ffffff 2px solid;
}

#credits-img {
  min-height: 250px;
  width: 100%;
  background-image: url(./images/LIU.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#credits {
  color: #ffffff;
}
#credits h1 {
  text-align: center;
  font-size: 38px;
  padding-bottom: 50px;
  padding-top: 25px;
}
#credits a {
  text-decoration: none;
  color: rgb(110, 236, 215);
}
#credits a:hover {
  color: #ffffff;
}
#credits li {
  padding-bottom: 35px;
}

#login {
  background-color: #393e46;
  height: fit-content;
  min-height: 600px;
  border-radius: 5px;
}
.login-input {
  width: 100%;
  height: 33px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(225, 235, 250);
  border-radius: 5px;
  border: #2c2a2a 2px solid;
  padding: 20px 15px;
}
#login-img {
  height: 150px;
  width: 100%;
}
#register {
  background-color: #393e46;
  height: fit-content;
  min-height: 600px;
  border-radius: 5px;
}
#register-buttton {
  text-decoration: none;
  color: inherit;
}
#newsletter-wrapper {
  color: #ffffff;
  font-size: 20px;
  height: 75px;
}
.footer {
  background-color: #393e46;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  border-radius: 10px;
}
